<% if @user.errors.any? %>
    <h2>
        The following errors prevented the article from getting created
    </h2>

    <ul>
        <%= @user.errors.full_message.each do |error| %>
            <li>
                <%= error %>
            </li>
        <% end %>
    </ul>
<% end %>